
@import "base";

/* Base */

body { }

/* Header */

.banner { }

/* Content */

.content { }

/* Primary Content */

.main { }

/* Sidebar */

.sidebar {}
aside#sidebar {
	section.widget.search-2 {
		margin-top:25px;
	}
}

/* Posts */

.hentry {
   header { }
   time { }
   .byline { }
   .entry-content { }
   footer { }
}

/* Footer */

.content-info { }

/* WordPress Generated Classes (See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes ) */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }

/* Media Queries */

@media (max-width: 767px) {

}
